

body {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: darkred;
    width: 100%;
    position: fixed;
    top: 0;
}

#navbar a {
    font-size: 1.5em;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: lightgray;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.90);
}

#welcome-section h1 {
    color: white;
    font-size: 4em;
    font-weight: 800;
}

#welcome-section p {
    color: darkred;
    font-weight: 100;
    font-size: 2.2em;
}

#projects {
    background-color: slategray;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#projects h2 {
    font-size: 3em;
    font-weight: 600;
    color: white;
    padding: 1em;
}

#projects-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    #projects-container {
        flex-direction: column;
    }
}

.project-tile {
    width: 10em;
    height: 10em;
    padding: 1em;
    margin: 1em;
    background-color: bisque;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.90);
}

#contact h2 {
    color: white;
    font-size: 4em;
    font-weight: 800;
}

#contact a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 2em;
}

footer {
    text-align: right;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
}




